In [1]:
import os
import numpy as np
import pandas as pd

In [ ]:
練習時間

資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等
有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

可參考該基礎教材或自行 google

In [3]:
# 設定 data_path
data = 'C:/Users/user/Desktop/Data/2016MLB'

In [8]:
#輸入資料
mlb = os.path.join(data, 'baseball_reference_2016_clean.csv')
print('Path of read in data: %s' % (mlb))
mlb_train = pd.read_csv(mlb)

Path of read in data: C:/Users/user/Desktop/Data/2016MLB\baseball_reference_2016_clean.csv

In [9]:
#可以印出一些平均、標準差等資料
print(mlb_train.describe())
#計算平均
print(mlb_train.mean())

        Unnamed: 0    attendance  away_team_errors  away_team_hits  \
count  2463.000000   2460.000000       2463.000000     2463.000000
mean   1231.000000  30370.703659          0.580593        8.764515
std     711.151179   9875.466703          0.793391        3.511581
min       0.000000   8766.000000          0.000000        1.000000
25%     615.500000  22432.000000          0.000000        6.000000
50%    1231.000000  30604.500000          0.000000        8.000000
75%    1846.500000  38396.250000          1.000000       11.000000
max    2462.000000  54449.000000          5.000000       22.000000

       away_team_runs  home_team_errors  home_team_hits  home_team_runs  \
count     2463.000000       2463.000000     2463.000000     2463.000000
mean         4.413723          0.585871        8.611855        4.519691
std          3.104556          0.805542        3.436965        3.111572
min          0.000000          0.000000        0.000000        0.000000
25%          2.000000          0.000000        6.000000        2.000000
50%          4.000000          0.000000        8.000000        4.000000
75%          6.000000          1.000000       11.000000        6.000000
max         21.000000          5.000000       22.000000       17.000000

       temperature   wind_speed   total_runs  game_hours_dec  home_team_win  \
count  2463.000000  2463.000000  2463.000000     2463.000000    2463.000000
mean     73.818920     7.494925     8.933415        3.085302       0.529436
std      10.583106     5.055970     4.480352        0.460491       0.499234
min      31.000000     0.000000     1.000000        1.250000       0.000000
25%      67.000000     4.000000     6.000000        2.783333       0.000000
50%      74.000000     7.000000     8.000000        3.033333       1.000000
75%      81.000000    11.000000    12.000000        3.308333       1.000000
max     101.000000    25.000000    29.000000        6.216667       1.000000

       home_team_loss
count     2463.000000
mean         0.470158
std          0.499210
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Unnamed: 0           1231.000000
attendance          30370.703659
away_team_errors        0.580593
away_team_hits          8.764515
away_team_runs          4.413723
home_team_errors        0.585871
home_team_hits          8.611855
home_team_runs          4.519691
temperature            73.818920
wind_speed              7.494925
total_runs              8.933415
game_hours_dec          3.085302
home_team_win           0.529436
home_team_loss          0.470158
dtype: float64

In [24]:
#截取資料
#僅抓出比賽當天溫度
mlb_train[0:5][['temperature']]

   temperature
0         74.0
1         55.0
2         48.0
3         65.0
4         77.0

In [22]:
#同時抓出溫度與日期的資料
mlb_train[0:5][['temperature','date']]

   temperature        date
0         74.0  2016-04-03
1         55.0  2016-04-06
2         48.0  2016-04-06
3         65.0  2016-04-06
4         77.0  2016-04-06

In [23]:
#判斷比賽當天的溫度是否大於華氏75度
mlb_train['temperature']>75

0       False
1       False
2       False
3       False
4        True
5        True
6       False
7       False
8       False
9       False
10      False
11      False
12       True
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27       True
28      False
29      False
        ...
2433    False
2434    False
2435    False
2436     True
2437    False
2438    False
2439    False
2440    False
2441    False
2442     True
2443    False
2444    False
2445    False
2446     True
2447     True
2448     True
2449    False
2450    False
2451    False
2452    False
2453    False
2454    False
2455    False
2456     True
2457    False
2458    False
2459    False
2460    False
2461    False
2462    False
Name: temperature, Length: 2463, dtype: bool

In [25]:
#設定Index
mlb_train.set_index('temperature', inplace=True)